h1 {
  color: red;
  background-color: green;
}

h3 {
  background-color: blue;
}

p {
  background-color: orange;
}

ol {
  color: purple;
  background-color: pink;
  border: 3px solid yellow;
}

img {
  height: 300px;
  width: 300px;
  border: 6px solid darkred;
}

table, th, td {
  border: 3px solid green;
}

body {
  background-color: skyblue;
}
