.colorGreen {
  background-color: green;
}
#colorYellow {
  background-color: yellow;
}
.colorYellow {
  background-color: yellow;
}
.animal {
  width: 300px;
}
.smIcon {
  width: 30px;
}
